.about {
  padding: 27px 0 42px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 40px;
    border-bottom: 1px solid $grey;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 0 0;
    border-bottom: none;
  }
}

.about__list {
  @include no-list;
  margin: 40px 0 0;
  counter-reset: myCounter;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 37px 134px;
    margin: 38px 0 0;
    max-width: 650px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    max-width: 100%;
  }
}

.about__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px;

  &:last-child {
    margin: 0;
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      left: 112px;
      top: -6px;
      counter-increment: myCounter;
      content: counter(myCounter);
      font-size: 280px;
      line-height: 1;
      color: $basic_grey;
      font-family: $title_font_family;
      z-index: -1;
    }
  }

  &:first-child::before {
    @media (min-width: $tablet-width) {
      left: 118px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 280px;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px 0 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.about__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 20px 0 0;
  background: $basic_green;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.about__icon-img {
  margin: 3px 0 0;
}

.about__txt {
  width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin: 33px 0 0;
    font-size: 16px;
    line-height: (24 / 16);
  }
}
