.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: normal;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background: $basic_green;
  border: none;
}
