.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  cursor: pointer;
  font-size: 16px;
  line-height: (20 / 16);
  font-weight: normal;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background: $basic_green;
  border: none;
  font-family: $title_font_family;

  &:hover {
    background: $basic_green-2;
  }

  &:active {
    background: $basic_green-2;
    color: transparentize($white, 0.7);
  }
}

.button--grey {
  color: $special_dark-grey;
  background: $basic_grey;

  &:hover {
    background: $special_grey-2;
  }

  &:active {
    background: $special_grey-2;
    color: transparentize($special_dark-grey, 0.7);
  }
}
