.catalog {
  padding: 27px 0 0;

  @media (min-width: $tablet-width) {
    padding: 49px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0 0;
  }
}

.catalog .container {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.catalog__list {
  margin: 40px 0 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 83px 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.catalog__button-more {
  width: 280px;
  margin: 21px auto 0;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin: 86px auto 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
