.contacts {
  position: relative;
}

.contacts__header {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px 26px;

  &--grey {
    background: $basic_grey;

    @media (min-width: $desktop-width) {
      background: $white;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 64px 71px 56px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-7%, -50%);
    align-items: center;
    width: 570px;
    height: 200px;
    background: $white;
    z-index: 10;
    margin: -4px 0 0;
    padding: 58px 76px 58px;
  }
}

.contacts__offer {
  width: 50%;
  margin: 0;
  font-size: 16px;
  line-height: (18 / 16);
  text-transform: uppercase;
  color: $special_dark-grey-3;
  font-family: $title_font_family;


  @media (min-width: $tablet-width) {
    width: 30%;
    margin: 2px 0 0;
    font-size: 20px;
    line-height: (24 / 20);
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contacts__offer-top {
  display: block;
  margin: 0 0 4px;

  @media (min-width: $tablet-width) {
    margin: 0 0 1px;
  }
}

.contacts__address {
  width: 50%;
  margin: 2px 0 0;
  font-size: 14px;
  line-height: (20 / 14);
  color: $special_dark-grey;


  @media (min-width: $tablet-width) {
    width: 30%;
    margin: 0;
    font-size: 16px;
    line-height: (20 / 16);
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    text-align: left;
    margin: 4px 0 0;
  }
}

.contacts__address-top {
  display: block;
  margin: 0 0 1px;

  @media (min-width: $tablet-width) {
    margin: 0 0 21px;
  }
}
