.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &:hover {
    .copyright__icon {
      fill: $basic_green;
    }
  }

  &:active {
    opacity: 0.3;

    .copyright__icon {
      fill: transparentize($basic_green, 0.7);
    }
  }
}

.copyright__txt {
  margin: 0;
  font-size: 16px;
  line-height: (18 / 16);
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0 24px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 23px 0 0;
  }
}

.copyright__icon {
  fill: $special_grey-3;
}
