.form-radio {
  position: relative;
  margin: 0 0 12px;
  padding: 6px 0 5px;

  &:last-child {
    margin: 0;
  }
}

.form-radio__input {
  display: none;

  &:checked {
    & + .form-radio__label::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 5px;
      left: 8px;
      background: $basic_green;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        width: 18px;
        height: 18px;
        top: 6px;
        left: 11px;
      }
    }

    &:active {
      & + .form-radio__label::after {
        background: transparentize($basic_green, 0.7);
      }
    }
  }
}

.form-radio__label {
  position: relative;
  font-size: 16px;
  line-height: (18 / 16);
  text-transform: uppercase;
  color: $special_dark-grey-2;
  padding: 0 0 0 45px;
  font-family: $title_font_family;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 30px;
    height: 30px;
    background: $white;
    border: 1px solid $special_grey;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      top: -5px;
    }
  }

  &:hover::before {
    border-color: $special_grey-6;
  }

  &:active {
    color: transparentize($special_dark-grey-2, 0.7);

    &::before {
      border-color: transparentize($special_grey-6, 0.7);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 0 60px;
    font-size: 20px;
    line-height: (30 / 20);
  }
}
