.form {
  padding: 19px 0 31px;
}

.form__section {
  padding: 32px 70px 22px;

  &--grid {
    @media screen and (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    max-width: 1280px;
    padding: 0 30px;
    margin: 30px auto;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0 0 0;
  border: none;

  &--border {
    padding: 32px 20px 22px;
    border-bottom: 1px solid $special_grey-1;
    border-top: 1px solid $special_grey-1;

    @media screen and (min-width: $tablet-width) {
      border: 1px solid $special_grey-1;
    }

    @media screen and (min-width: $desktop-width) {
      margin: 0;
      padding: 0;
    }
  }

  &--row {
    @media screen and (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 14px;

  &:last-child {
    margin: 0;
  }
}

.form__label {
  margin: 0 14px 0 0;
  font-size: 16px;
  line-height: (18 / 16);
  color: $special_dark-grey;
  text-transform: uppercase;
  flex-shrink: 0;
  font-family: $title_font_family;
}

.form__field {
  width: 100%;
  height: 45px;
  padding: 10px 13px;
  font-size: 16px;
  line-height: (18 / 16);
  color: $special_dark-grey;
  text-transform: uppercase;
  border: 1px solid $basic_grey-3;
  box-sizing: border-box;
  font-family: $title_font_family;

  &--textarea {
    height: 150px;
    margin: 2px 0 0;
    padding: 13px 13px;
  }

  &--email {
    background-image: url("../img/icon_email.svg");
    background-position: calc(100% - 14px) center;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url("../img/icon-phone2.svg");
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
  }
}

.form__title {
  position: relative;
  margin: 27px 0 0;
  padding: 0 0 0 20px;
  font-family: $title_font_family;

  &::before {
    position: absolute;
    top: 14px;
    left: 30px;
    right: 0;
    z-index: 0;
    content: "";
    height: 2px;
    background: $basic_green;
  }

  &--additionally {
    margin: 23px 0 0;
  }
}

.form__title-txt {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  color: $black;
  background: $white;
  max-width: 198px;
  padding: 0 15px 0 0;
}

.form__list {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__button-group {
  margin: 34px auto 0;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    max-width: 1280px;
    padding: 0 70px;
    margin: 30px auto;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 30px;
  }
}

.form__button {
  margin: auto;
  width: 280px;
  font-size: 16px;
  line-height: (18 / 16);

  @media screen and (min-width: $tablet-width) {
    margin: 0 60px 0 0;
  }
}

.form__note {
  margin: 21px auto 0;
  font-size: 14px;
  line-height: (16 / 14);
  color: #000000;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
  }
}
