.form-radio {
  position: relative;
  margin: 0 0 12px;
  padding: 6px 0 5px;

  &:last-child {
    margin: 0;
  }
}

.form-radio__input {
  display: none;

  &:checked {
    & + .form-radio__label::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 5px;
      left: 8px;
      background: $basic_green;
      border-radius: 50%;
    }
  }
}

.form-radio__label {
  position: relative;
  font-size: 16px;
  line-height: (18 / 16);
  text-transform: uppercase;
  color: $special_dark-grey-2;
  padding: 0 0 0 45px;
  font-family: $title_font_family;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 30px;
    height: 30px;
    background: $white;
    border: 1px solid $special_grey;
    border-radius: 50%;
  }
}
