.gift {
  padding: 55px 56px 42px;
  text-align: center;
  background: $basic_green url("../img/gift-photo-mobile@1x.jpg") no-repeat center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 245px;
    height: 289px;
  }
}

.gift__img {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.gift__txt {
  font-size: 16px;
  line-height: (20 / 16);
  text-align: center;
  color: $white;
  margin: 52px auto 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
