.labels {
  display: flex;
  justify-content: space-between;
}

.labels__item {
  position: relative;
  width: 124px;
  padding: 13px 16px 17px;
  text-align: center;
  border: 1px solid $special_grey;
  border-radius: 4px;
}

.labels__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

.labels__txt {
  position: absolute;
  bottom: -16px;
  right: 50%;
  max-width: 70px;
  transform: translateX(50%);
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  background: $basic_grey-2;
}
