.main-nav {
  @media (min-width: $desktop-width) {
    max-width: 50%;
  }
}

.main-nav__list {
  @include no-list;
  display: none;
  position: absolute;
  top: 55px;
  border-top: 1px solid $grey;
  z-index: 10;
  background: $white;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: relative;
    top: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: none;
    background: transparent;
  }
}

.main-nav__list-item {
  border-bottom: 1px solid $grey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin: 0 0 0 37px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 34px;
  }
}

.main-nav__list-link {
  display: block;
  padding: 22px 0 23px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: $title_font_family;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--index {
    @media (min-width: $desktop-width) {
      color: $white;
      border-bottom: 2px solid transparent;

      &.main-nav__list-link--active {
        border-bottom: 2px solid $white;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 17px 0 8px;
    font-size: 18px;
    line-height: (24 / 18);
    letter-spacing: -0.6px;
    border-bottom: 2px solid transparent;

    &--active {
      border-bottom: 2px solid $basic_green;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 17px 0 6px;
    font-size: 20px;
    line-height: (30 / 20);
  }
}

.no-js {
  .main-nav__list {
    position: relative;
    display: block;
    top: auto;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  .page-header__main-nav {
    margin: 2px 0 0;
  }
}

.is-nav-open {
  .main-nav__list {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}
