.page-main {
  flex-grow: 1;
  flex-shrink: 0;
}

.page-main__form {
  padding: 27px 0 0;

  @media (min-width: $tablet-width) {
    padding: 50px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 0 0;
  }
}
