.page-header {
  position: relative;
  padding: 10px 0 0;
  min-height: 66px;
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: $tablet-width) {
    padding: 24px 0 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 0;
  }
}

.page-header__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo {
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.page-header__main-nav {
  margin: 0 -20px 0;

  @media (min-width: $tablet-width) {
    margin: 2px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
