.programs__list {
  @include no-list;
}

.programs__item {
  display: block;
  margin: 0 0 20px;
  padding: 30px 20px 10px 20px;
  background: $basic_grey;

  &:last-child {
    margin: 0;
  }
}

.programs__title {
  position: relative;
  margin: 0;
  padding: 0 0 0 71px;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: normal;
  color: $black;
  text-transform: uppercase;
  font-family: $title_font_family;

  &::before {
    position: absolute;
    left: 2px;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background: $basic_green;
    border-radius: 50%;
    content: "";
  }

  &::after {
    position: absolute;
    z-index: 10;
    left: -7px;
    display: block;
    width: 67px;
    height: 53px;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  &--slim::after {
    top: -12px;
    background-image: url("../img/icon-cat-slim.svg");
    background-size: 36px auto;
  }

  &--pro::after {
    top: -9px;
    background-image: url("../img/icon-cat-pro.svg");
    background-size: 67px auto;
  }
}

.programs__txt {
  margin: 29px 0 0;
  padding: 0 0 22px;
  font-size: 14px;
  line-height: 1.3em;
  color: $special_dark-grey;
  border-bottom: 1px solid $special_grey-1;
}

.programs__link {
  position: relative;
  display: inline-block;
  padding: 19px 39px 12px 0;
  font-size: 16px;
  line-height: 1em;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $title_font_family;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 12px;
    margin-top: -3px;
    background: url("../img/icons/arrow-right.svg") no-repeat;
    content: "";
  }
}
