.programs {
  padding: 22px 0 0;

  @media (min-width: $desktop-width) {
    padding: 80px 0 0;
  }
}

.programs__list {
  @include no-list;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__item {
  position: relative;
  display: block;
  margin: 0 0 21px;
  padding: 22px 20px 10px 20px;
  background: $basic_grey;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 30px;
    padding: 77px 280px 46px 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 41px 51px 49px;
  }

  &--pro {
    @media (min-width: $tablet-width) {
      padding: 77px 313px 46px 52px;
    }

    @media (min-width: $desktop-width) {
      padding: 41px 51px 49px;
    }
  }
}

.programs__icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 67px;
  height: 53px;
  margin: 0 10px 0 -6px;

  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: $basic_green;
    border-radius: 50%;
    content: "";

    @media (min-width: $tablet-width) {
      top: auto;
      bottom: 0;
      width: 200px;
      height: 200px;
      transform: translate(-50%, 0);
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    content: "";
  }

  &--slim::after {
    background-image: url("../img/icon-cat-slim.svg");
    background-size: 36px auto;
    background-position: 15px -1px;

    @media (min-width: $tablet-width) {
      background-size: 140px 192px;
      background-position: 64px 0;
    }

    @media (min-width: $desktop-width) {
      background-size: 70px 97px;
      background-position: 34px 0;
    }
  }

  &--pro::after {
    background-image: url("../img/icon-cat-pro.svg");
    background-size: 67px auto;
    background-position: center;

    @media (min-width: $tablet-width) {
      background-size: 268px 112px;
      background-position: center calc(50% + 4px);
    }

    @media (min-width: $desktop-width) {
      background-size: 134px 56px;
      background-position: 0 27px;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 28px;
    top: 81px;
    width: 268px;
    height: 211px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    right: auto;
    top: auto;
    width: 134px;
    height: 106px;
    margin: 0 45px 0 -17px;
  }
}

.programs__title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 7px 0 0;
  padding: 0;
  font-size: 24px;
  line-height: (37 / 24);
  font-weight: normal;
  color: $black;
  text-transform: uppercase;
  font-family: $title_font_family;
  width: calc(100% - 75px);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    width: calc(100% - 20px);
  }

  @media (min-width: $desktop-width) {
    margin: 36px 0 0;
    width: calc(100% - 165px);
  }
}

.programs__txt {
  margin: 23px 0 0;
  padding: 0 0 25px;
  font-size: 14px;
  line-height: (18 / 14);
  color: $special_dark-grey;
  border-bottom: 1px solid $special_grey-1;

  @media (min-width: $tablet-width) {
    margin: 25px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: (24 / 16);
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin: 41px 0 0;
  }
}

.programs__link {
  position: relative;
  display: inline-block;
  margin: 10px 0 0;
  padding: 10px 59px 10px 0;
  font-size: 16px;
  line-height: 1;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $title_font_family;

  &::after {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 24px;
    height: 12px;
    margin-top: -7px;
    background: url("../img/arrow-right-32.svg") no-repeat;
    background-position: 100% 0;
    content: "";
    transition: right 0.3s, width 0.3s;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    width: 32px;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 42px 0 0;
    padding: 10px 57px 10px 0;
    font-size: 20px;
    line-height: (30 / 20);

    &::after {
      right: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 17px 0 0;
    padding: 10px 61px 10px 0;

    &::after {
      right: 8px;
    }
  }
}
