.sample {
  padding: 27px 0 26px;
  background: $basic_grey-2;
}

.sample__txt {
  margin: 33px 0 0;
  font-size: 14px;
  line-height: 1.3em;
  color: $special_dark-grey;
}

.sample__labels {
  margin: 25px 0 0;
}

.sample__total {
  margin: 34px 0 0;
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  font-family: $title_font_family;
}

.sample__slider {
  margin: 42px 0 0;
}
