.social {
  border-top: 1px solid $special_grey-1;
  border-bottom: 1px solid $special_grey-1;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
  }
}

.social__list {
  @include no-list;
  margin: 12px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0;

  @media (min-width: $tablet-width) {
    margin: 0 6px 0;
  }
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;

  &--vk {
    background-image: url("../img/icons/icon_vkontakte.svg");

    @media (min-width: $tablet-width) {
      background-size: 30px auto;
      background-position: center 9px;
    }
  }

  &--fb {
    background-image: url("../img/icons/icon_facebook.svg");
    background-position: 5px center;

    @media (min-width: $tablet-width) {
      background-size: 32px auto;
      background-position: -1px 4px;
    }
  }

  &--insta {
    background-image: url("../img/icons/icon_instagram.svg");

    @media (min-width: $tablet-width) {
      background-size: 24px auto;
      background-position: center;
    }
  }
}
