.social {
  border-top: 1px solid $special_grey-1;
  border-bottom: 1px solid $special_grey-1;

  @media screen and (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
  }
}

.social__list {
  @include no-list;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 15px 19px;
}

.social__link {
  display: block;
  width: 23px;
  height: 23px;

  &--vk {
    background: url("../img/icons/icon_vkontakte.svg") no-repeat center;
  }

  &--fb {
    background: url("../img/icons/icon_facebook.svg") no-repeat center;
  }

  &--insta {
    background: url("../img/icons/icon_instagram.svg") no-repeat center;
  }
}
