.title-line {
  position: relative;
  margin: 0;
  padding: 0 0 0 20px;
  font-family: $title_font_family;

  &::before {
    position: absolute;
    top: 15px;
    left: 30px;
    right: 0;
    z-index: 0;
    content: "";
    height: 2px;
    background: $basic_green;

    @media (min-width: $tablet-width) {
      top: 22px;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      top: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 73px;
  }
}

.title-line__txt {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 22px 0 0;
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  color: $black;
  text-transform: none;
  background: $white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding: 0 37px;
  }
}
