.title-h1 {
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: $black;
  margin: 0;
  font-family: $title_font_family;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}
