.toggle-nav-button {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
  padding: 4px 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.toggle-nav-button__icon {
  position: relative;
  width: 100%;
  height: 1px;
  background: $black;
  transition: background 0.3s ease;

  &::before,
  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 8px;
    width: 100%;
    height: 1px;
    background: currentColor;
  }

  &::after {
    top: auto;
    bottom: 8px;
  }
}

.is-nav-open {
  .toggle-nav-button__icon {
    background: transparent;

    &::before {
      transform: rotate(45deg);
      top: -1px;
    }

    &::after {
      transform: rotate(-45deg);
      top: -1px;
    }
  }
}

.no-js {
  .toggle-nav-button {
    display: none;
  }
}
